
:root {  /* Define variables within the :root selector for global scope */
    --backgroundColor: black;
    --fontColor: #EFECEC;;
    --font-size-base: 16px;
  }
body{


    margin: 0px;
}

.postContent p{

    margin-bottom: 1px !important;
    color: black !important;
}
.postContent img{
    width:100%;
}
.postContent span,strong{
    color: black !important;
}
.hide{

    display:none !important;

}
.visibleInline{

    display: inline-block !important;
}
.visibleFlex{
    display:flex !important;

}
.visibleBlock{
    display: block !important;
}
/* Navigation Container */

.postButton{
    background:var(--fontColor);
    border: none;
    border-radius: 5px;;
    padding: 5px 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgroundColor);
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
}
.postButton img{
    width:18px;
}
.navContainer{

    background:var(--backgroundColor);
    padding: 15px;
    color:#EFECEC;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.rightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    
}
.logoutButton{
    
    cursor: pointer;
}
.box{

    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);

}
.leftContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    width: 70%;
    height: 95vh;
}
.rightContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width:30%;
    background-color: #EFECEC;
    border-top-left-radius: 10px;;

}

.errorPopUp{

    background: #FFB0B0;
    position: absolute;
    top: -100%;
    margin: 0px auto;
    left: 50%;
    display: none;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    animation: down 2s ease-in-out;
    transform: translate(-50%, -50%);
}
.errorMessage{

    color:#A0153E;
    font-size:20px;
}
.closeLogo{
    cursor:pointer;
}
@keyframes down{

    0%{
        top:-100%;
    }
    100%{
        top: 5%;
    }
}

/* Home and Posts styling */

.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px
}
.postContentContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;

}
.postContainer{
    border: none;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;    
  
}
.postHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.postContent{
    margin-top: 15px;
    background: #f2f4f5;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 12px;
    height: 200px;
    transition: height 0.5s ease-in-out;
    overflow: hidden; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.sideLine{
    height:200px;
    width: 2px;
    background: black;
    margin-left: 10px;
    border-radius: 10px;

}

.postActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.expanded
{
    height:auto !important;
    overflow: visible;
}
.dateActionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postedDate{
    font-size: 12px;
    color: black;
    font-style: italic;
}
.postActions img{
    width:24px;
    cursor: pointer;
}


h2{
    font-size:24px !important;
}
.readMore{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.read-more{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: #3a3a3a;
    color:white;
    cursor: pointer;
}
/* Create a post section */

#title{

    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}
.editorContainer{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 92vh;
    position:relative;
}
.postFormContainer{
    width: 100%;
}
#saveFormButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background:var(--backgroundColor) ;
    font-weight: bold;
    cursor: pointer;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#discardFormButton{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #EC4646;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#editFormButton{

    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #FCDC2A;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#submitButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #D9EDBF ;
    font-weight: bold;
    cursor: pointer;
    color: #0C2D57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 

}
#discardFormButton:hover{
  
    background-color: #ED6663;
}
#editFormButton:hover{
    background-color: #F7F6BB;
}
/* styling toolbar */
.ql-toolbar{

    background: black !important;
    border-radius: 10px !important;
    border-bottom: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
.ql-snow .ql-stroke {
    fill: none;
    stroke: white !important;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}
.ql-snow .ql-picker {
    color: white !important;
    display: inline-block;
    
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    position: relative;
    vertical-align: middle;
}
.ql-container{
    background: #F6F5F5;
}
.ql-picker-options{

    background-color: black !important;
}