
:root {  /* Define variables within the :root selector for global scope */
    --backgroundColor: black;
    --fontColor: #f2f4f5;;
    --font-size-base: 16px;
  }
body{


    margin: 0px;
}
header{
    position: sticky;
    top: 0px;;
    z-index: 3;
}
#userName{
    color: var(--fontColor) !important;
    text-decoration: none !important;
}
.postContent p{

    margin-bottom: 1px !important;
    color: black !important;
}
.postContent img{
    width:100%;
}
.postContent span,strong{
    color: black !important;
}
.hide{

    display:none !important;

}
.visibleInline{

    display: inline-block !important;
}
.visibleFlex{
    display:flex !important;

}
.visibleBlock{
    display: block !important;
}
.showComments{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.showComments a{
    background: black;
   
    padding: 5px 10px;
    border-radius: 8px;
    color: white !important;
    text-decoration: none !important;
}

/* Show Password  */
.form-group{
  position: relative;
}
.form-group img{

    width: 24px;
    position: absolute;
    top: 60%;
    right: 10px;
    cursor: pointer;
}

/* Comment Section  */
#addCommentContainer,#replyFormContainer{
    width: 100%;
    max-width: 500px;
    padding:0px 20px 20px 20px;
    position: relative;
}
#addCommentButton{
    border-radius: 10px;
    background-color:#3a3a3a!important;
    padding: 5px 20px;
    color: var(--fontColor);
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 0px;
}
#discardCommentButton{

    border-radius: 8px;
    background-color: #E64848;
    border: 3px solid #C82333;
    outline: none;
    padding: 3px 20px;
    cursor: pointer;

}
#saveCommentButton{
    border-radius: 10px;
    background-color:#3a3a3a!important;
    padding: 5px 25px;
    color: var(--fontColor);
    outline: none;
    cursor: pointer;

}
#editCommentButton{
    
    background-color: #FEF9A7 !important;
    border-radius: 8px;
    border: 3px solid #F8DE22;
    outline: none;
    padding: 3px 20px;
    cursor: pointer;
}

.commentsLikesImg,.commentsDisLikesImg{
    cursor:pointer;
}

.replyCommentLike{

    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Replies Section */
.replyToComment{


    cursor: pointer;
}
.replyToComment:hover()
{
    font-weight: bold;
    text-decoration: underline;
    
}

.replyButtonContainer{
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
#replyCommentButton{

    border-radius: 10px;
    background-color:#3a3a3a!important;
    padding: 5px 20px;
    color: var(--fontColor);
    outline: none;
    cursor: pointer;
   
    
}
.replyto p{
margin:2px;
}
.repliesContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 500px;
}
.replies{
    width: 100%;
}
.commentContainer{

    width: 100%;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}
.userCommented{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.commentContent{

    padding: 10px 30px;
    background: #f2f4f5;
    margin: 10px 0px;
    border-radius: 10px;
    height: 100px;
    overflow: hidden;
}
.comment{
    margin: 10px 0px;
}
.replyComment{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentDate{
    font-style: italic;
    padding-left: 5px;;
    font-size: 14px;
}
.read-more-comment{

    cursor: pointer;
    font-style: italic;
    font-size:12px;
}
.ql-bubble{

    background-color: var(--fontColor) !important;
    border-radius: 8px !important;
}
.commentActionButtons
{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




/* Navigation Container */

.postButton{
    background:var(--fontColor);
    border: none;
    border-radius: 5px;;
    padding: 5px 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgroundColor);
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
}
.postButton img{
    width:18px;
}
.navContainer{

    background:var(--backgroundColor);
    padding: 15px;
    color:#EFECEC;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.rightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    
}
.logoutButton{
    
    cursor: pointer;
}
.box{

    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);

}
.leftContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    width: 70%;
    height: 95vh;
}
.rightContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width:30%;
    background-color: #EFECEC;
    border-top-left-radius: 10px;;

}

.errorPopUp{

    background: #FFB0B0;
    position: absolute;
    top: -100%;
    margin: 0px auto;
    left: 50%;
    display: none;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    animation: down 2s ease-in-out;
    transform: translate(-50%, -50%);
}
.errorMessage{

    color:#A0153E;
    font-size:20px;
}
.closeLogo{
    cursor:pointer;
}
@keyframes down{

    0%{
        top:-100%;
    }
    100%{
        top: 5%;
    }
}

/* Home and Posts styling */

.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px
}
.postContentContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;

}
.postContainer{
    border: none;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;    
  
}
.postHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.postContent{
    margin-top: 15px;
    background: #f2f4f5;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 12px;
    height: 200px;
    transition: height 0.5s ease-in-out;
    overflow: hidden; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.sideLine{
    height:200px;
    width: 2px;
    background: black;
    margin-left: 10px;
    border-radius: 10px;

}

.postActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.expanded
{
    height:auto !important;
    overflow: visible;
}
.dateActionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postedDate{
    font-size: 12px;
    color: black;
    font-style: italic;
}
.postActions img{
    width:24px;
    cursor: pointer;
}


h2{
    font-size:24px !important;
}
.readMore{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.read-more{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: #3a3a3a;
    color:white;
    cursor: pointer;
}
/* Create a post section */

#title{

    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}
.editorContainer{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 92vh;
    position:relative;
}
.postFormContainer{
    width: 100%;
}
#saveFormButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background:var(--backgroundColor) ;
    font-weight: bold;
    cursor: pointer;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#discardFormButton{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #EC4646;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#editFormButton{

    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #FCDC2A;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#submitButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #D9EDBF ;
    font-weight: bold;
    cursor: pointer;
    color: #0C2D57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 

}
#discardFormButton:hover{
  
    background-color: #ED6663;
}
#editFormButton:hover{
    background-color: #F7F6BB;
}
/* styling toolbar */
.ql-toolbar{

    background: black !important;
    border-radius: 10px !important;
    border-bottom: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
.ql-snow .ql-stroke {
    fill: none;
    stroke: white !important;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}
.ql-snow .ql-picker {
    color: white !important;
    display: inline-block;
    
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    position: relative;
    vertical-align: middle;
}
.ql-container{
    background: #F6F5F5;
}
.ql-picker-options{

    background-color: black !important;
}


/* Profile Container Styling */

.profileContainer{
    height: 103vh;
}
.profileDetailsContainer{

    background: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.profilePic{

    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.profilePic img{
    width: 100%;
    max-width: 150px;
}
.profileDetails{

    width: 50%;
    display: flex;
    
    flex-direction: column;
    color:var(--fontColor);
    
}
.saveProfile{

    display: flex;
    justify-content: center;
    align-items: center;
}
.saveProfile button{

    position: absolute;
    bottom: 10px ;
    right: 10px;
}
.profileDetails form{
    width: 100%;
}
.profileDetailContainer{
    width: 100%;
    display: flex;
   
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profileDetailContainer input{
    background: black;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;

}
.profileEditButton{
    cursor: pointer;
}
#profileEmailId{
    cursor:not-allowed;
}
#postCounts{

    background: white;
    width: fit-content;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.profilePosts{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}
.postCard{
    max-width: 200px;
   
    width: 100%;
    padding: 20px;
    background: #e5ecf4;
    border-radius: 15px;
}
.postCard img{
    width: 100%;
}
.profilePostTitle{
    font-size: 18px;
    font-weight: bold;
}
.profilePostContent{
    height: 40px;
    overflow: hidden;
    margin-bottom: 30px;
}
.postCard a{
    background: black;
    margin: 0px auto;
    
    padding: 5px 10px;
    border-radius: 8px;
    color: white !important;
    text-decoration: none !important;
}
.noPosts{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 500px;
   flex-direction: column;
   margin: 0px auto;
}
.profilePostActions{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDeleteButton{

    border: none;
    background: #bb4242;
    border: 2px solid red;
    padding: 2px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.postDeleteButton img{
    width: 16px;
}

.deleteConfirmationContainer{
    background: white;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 10px 6px 37px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 37px -24px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 37px -24px rgba(0,0,0,0.75);
}
.deleteForm form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#noPosts{
    width: 100%;
    max-width: 400px;
    height: 70%;
}
/* Hiding Mobile Navigation UI */

.mobSearchBar{
    display: none;
}
.mobNav{
    display: none;
}

/* Mobile UI  */

@media (max-width: 900px){


    /* Login Page & SignUp Page*/
    .box{

        height: 100vh;
    }
    .leftContainer{
        display: none;
        border-radius: 0px;
    }
    .rightContainer{
        width: 100%;
        border-radius: 0px;
    }

    



}

@media (max-width:750px)
{
  body{

    height: 100vh;
  }
  /* Home UI */
   .rightHeader > *{
    display: none;
   }
   .rightHeader form{
    display: none;
   }
   .logoutButton{
    display: inline-block;
   }
   /* All Posts Container */
   .containerHome{

    position: relative;
   
   }
   /* Create Post  */
  .editorContainer{
    width: 95%;
  }

  /* Profile */
  .profileDetailsContainer{
    flex-wrap: wrap;
    gap: 50px;;
    padding: 0px;
  }
  .profilePic{
    width: 100%; 
  }
  .profileDetails{
    width: 90%;
    margin: 0px auto;
  }
  .profilePosts{
    justify-content: center;
  }


   /* Bottom Mobile Navigation */
   .mobNav{

    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: sticky;
    bottom: 0px;
   }
   .mobNav img{
    width: 18px;
   }
   .mobNav a> img{
    width: 18px;
    cursor: pointer;
   }
   .mobSearchBar{
        width: 100%;
        background: black;
        position: sticky;
        bottom: 0px;
        display: none;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;  /* Initially set opacity to 0 for fade-in animation */
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

   }
   .mobSearchBar form{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 85%;
   }
   .mobSearchBar input{
    width: 80%;
   }
   .mobSearchBar img{
    width: 18px;
   }


}