<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/styles.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css" rel="stylesheet">




    <title>Querify</title>
</head>
<body>

    <header>
      <nav class="navContainer" >
        <div class="leftHeader">
          <img src="{{ url_for('static', filename='Images/LogoNew.png') }}" alt="Querify Logo"/>&nbsp;
          <span style="font-size: 18px;;">Querify</span>
        </div>
        <div class="rightHeader">
          <button class="postButton" onclick="window.location.href='/post'"><img src="{{ url_for('static', filename='Images/Post.svg')}}"/>Post</button>
          {% if current_user.is_authenticated %}
     
          <span style="font-size:12px"> {{ current_user.firstName }}</span>
          {% endif %}
     
          <img src="{{ url_for('static', filename='Images/UserIcon.svg')}}" alt="User Icon"/>
          <img  class="logoutButton" alt="Logout" src="{{ url_for('static', filename='Images/Poweroff.svg')}}" onclick="window.location.href='/logout'"/>
  
        </div>
  
       
      </nav>
    </header>
    
   <div class="editorContainer">

     <form  method="POST" class="postFormContainer">

        <label style="font-size: 24px;color:#0C2D57;font-weight: bold;;" for="title">
            Title
        </label><br>
        <input id="title" type="text" name="title" placeholder="Enter title" required />

        <input id="editorContent" type="hidden" value='' name="editor" />
       
        <div id="editor">
            <p>Type your Query here.</p>
        </div>
        
         <button type="submit" id="submitButton" class="hide" >Submit<img src="{{ url_for('static', filename='Images/Submit.svg') }}" ></button>
         <!-- <input id="submitButton" class="hide" type="submit" value="Submit" /><img src="{{ url_for('static', filename='Images/Save.svg') }}" > -->
     </form>
     <button id="saveFormButton" onclick="save()">Save<img src="{{ url_for('static', filename='Images/Save.svg') }}" ></button>
     <button id="discardFormButton" onclick="window.location.href='/'" ><img src="{{ url_for('static', filename='Images/Discard.svg') }}" > Discard</button>
     <button id="editFormButton" onclick="edit()" class="hide" ><img src="{{ url_for('static', filename='Images/Edit.svg') }}" > Edit</button>
    </div>

    <div class="errorPopUp">
      <div class="errorMessage" >The message</div>
      <img class="closeLogo" src="{{ url_for('static', filename='Images/Close.svg') }}">
  </div>

 
  
</body>
<script>

let message= '{{ message }}'
let category= '{{ category }}'
console.log(category)
const popUp=document.querySelector('.errorPopUp')
if(category=='False'){
  
 
  popUp.style.top='5%';
  popUp.style.display='flex';
  document.querySelector('.errorMessage').innerHTML=message;
  }
else if(category=='True'){
  popUp.style.top='5%';
  popUp.style.background='#C6EBC5'
  popUp.style.display='flex';
  document.querySelector('.errorMessage').innerHTML=message;
  document.querySelector('.errorMessage').style.color='#76885B'
}
  document.querySelector('.closeLogo').addEventListener("click",()=>{
    popUp.style.display='none'

  })

  const quill = new Quill('#editor',{
    modules:{
        toolbar:true
    },
    theme:"snow"
  });


  function save(){
    

    const editorContentElement=document.querySelector('#editorContent');
    const editorContent=document.querySelector('#editor').firstElementChild.innerHTML;
   
    if(editorContent === '<p>Type your Query here.</p>'){

      alert('Please enter your query/content.')
      return;
    }
    editorContentElement.value=editorContent;
    document.querySelector('#editFormButton').setAttribute('class','visibleFlex')
    document.querySelector('#submitButton').setAttribute('class','visibleFlex')
    document.querySelector('#saveFormButton').setAttribute('class','hide')
    document.querySelector('#discardFormButton').setAttribute('class','hide')
    document.querySelector('.ql-editor').setAttribute('contenteditable','false')
  
  }
  function edit(){
    document.querySelector('#submitButton').setAttribute('class','hide')
    document.querySelector('#editFormButton').setAttribute('class','hide')
    document.querySelector('#saveFormButton').setAttribute('class','visibleFlex')
    document.querySelector('#discardFormButton').setAttribute('class','visibleFlex')
    document.querySelector('.ql-editor').setAttribute('contenteditable','true')
    

  }
</script>
</html>